<div class="background-blur">
    <h1 class="small-caps text-center fw-bold mb-3">Recept szerkesztése</h1>

    <div class="mb-3">
        <h3 class="small-caps fw-bold">Kép feltöltése</h3>
        <div class="form-floating mb-3">
            <input type="file" class="form-control" id="pic" placeholder="Kép:" file-model="recept.file" accept="image/*">
            <label for="name">Kép:</label>
        </div>

        <a class="btn btn-primary" ng-click="imageUpload()">Módosít</a>
    </div>

    <div class="form-group row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Cím<em>*</em></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" placeholder="Cím" ng-model="recept.title">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="elkeszites" class="col-sm-2 col-form-label">Elkészítési idő (percben megadva)<em>*</em></label>
        <div class="col-sm-9">
            <input type="number" class="form-control" id="elkeszites" placeholder="Elkészítési idő (perc)" min="1" ng-model="recept.elkeszitesi_ido">
        </div>
        <span class="col-sm-1">perc</span>
    </div>
    
    <div class="form-group mb-3">
        <label for="shortdesc">Rövid leírás (max. 100 karakter)</label>
        <textarea class="form-control" id="shortdesc" ng-model="recept.short_desc" maxlength="100"></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="desc">Elkészítés<em>*</em></label>
        <textarea class="form-control" id="desc" ng-model="recept.description" rows="5"></textarea>
    </div>
    
    <div class="form-group row mb-3">
        <label for="adag" class="col-sm-2 col-form-label">Adagmennyiség<em>*</em></label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="adag" placeholder="Adagmennyiség" min="1" max="64" value="1" ng-model="recept.adag">
        </div>
        <small class="text-muted">
            A megadott hozzávalókból ennyi adag készíthető el
        </small>
    </div>
    
    <div class="mb-3">
        <label class="col-sm-2 col-form-label">Hozzávalók megadása<em>*</em></label><br>
        <small class="text-muted">
            Add meg a hozzávaló nevét és mennyiségét, majd kattints a "Hozzáadás" gombra!
        </small>
    </div>

    <div class="form-group row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Hozzávaló neve</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="hozzavalo" placeholder="Hozzávaló neve (pl: ketchup)" ng-model="recept.hozzavalo">
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Mennyiség</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="mennyiseg" placeholder="Mennyiség (pl: 1 kg)" ng-model="recept.mennyiseg">
        </div>
    </div>


    <div class="form-group row mb-3">
        <i class="bi bi-plus-square" ng-click="addIngredient()">
            Hozzáad
        </i>
    </div>

    <div id="hozzavalok">
        <ul id="hozzavalokLista">
            <li ng-repeat="item in recept.hozzavalok" id="{{'li_' + item.id}}">
                {{item.hozzavalo}}{{item.mennyiseg != "" ? " - " + item.mennyiseg : ""}}
                <i class="bi bi-trash-fill" 
                    ng-click="removeIngredient(item.id)"></i>
            </li>
        </ul>
    </div>
    <hr>

    <div class="form-group row mb-3">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="apply()">Módosít</button>
            <button type="submit" class="btn btn-warning" ng-click="cancel()">Mégsem</button>
        </div>
    </div>
</div>