<div class="row">
    <h3 class="text-center fw-bold small-caps">Követéseim</h3>

    <ul class="cards">
      <li ng-repeat="follow in follows">
      <div class="card">
          <img src="./assets/img/nopic.png" class="card__image" alt="Kép"/>
          <div class="card__overlay">
          <div class="card__header parent" ng-click="showProfile(follow.id)">
              <div>
              <h3 class="card__title">{{ follow.username }}</h3>
              </div>
          </div>
          <div class="card__description">
              <div class="icons">
                <a class="btn btn-light ng-scope" ng-if="loggedUser.id != user.id" ng-click="addToFollow(user.id)"></a>
              </div>
          </div>
          </div>
      </div>      
      </li>
  </ul>
</div>