<!DOCTYPE html>
<html lang="hu" ng-app="mealsmithApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/public/assets/css/login.css">
    <title>Bejelentkezés</title>
</head>
<body>
  <main>
    <div class="contents">
      <div class="container-sm" ng-controller="userCtrl">
          <div class="mb-3">
              <form action="" method="post">
                  <div class="container">
                      <div class="row ">
                          <div class="col-sm-4 ">
                            <img src="/web/public/assets/img/logo_bg.png" alt="Mealsmith logo" class="logo_bg">
                          </div>
                      </div>
                      <div class="row ">
                          <div class="col-sm-4 ">
                              <input class="form-control " type="email" name="email" id="email" placeholder="Email cím" ng-model="user.email">
                          </div>
                      </div>
                      <div c;lass="row ">
                          <div class="col-sm-4 ">
                              <input class="form-control " type="password" name="passw1" id="passw1" placeholder="Jelszó" ng-model="user.pass1">
                          </div>
                      </div>
                      <div class="row ">
                          <div class="col-sm-4 ">
                              <button class="form-control " type="submit" name="submitBtn" id="submitBtn" ng-click="login()">Bejelentkezés</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  </main>
</body>
</html>