<h3 class="mt-3">Bejelentkezés az oldalra</h3>
<hr>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" ng-model="user.email">
    <label for="floatingInput">E-mail cím</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" ng-model="user.pass">
    <label for="floatingPassword">Jelszó</label>
</div>

<button class="btn btn-primary mb-3" ng-click="logIn()">Bejelentkezés</button>