<div class="form-group">
  <div class="input-group">
      <input type="text" name="search" class="form-control" id="keresesbar" placeholder="🔎 Mit szeretnél enni?">
      <span><button type="submit" class="keresesgomb"></i>Keresés</button></span>
   </div>
</div>
<h3>Legfrissebb</h3>
<div id="legfrissebb">
    <div class="card-group">
        <div class="card" ng-repeat="recept in legfrissebb">
          <img src="./assets/img/nopic.png" class="card-img-top">
          <span class="elkeszitesi_ido">
            {{ elkeszites(recept.id) }}
          </span>
          <p>
            <i class="bi bi-heart"></i>
            <i class="bi bi-star"></i>
          </p>
          <div class="card-body">        
            <h5 class="card-title">{{ recept.title }}</h5>
            <p>
              <span class="points">{{ recept.points }}</span> pont
            </p>
            <p class="text-muted">{{ ido(recept.id) }}</p>
          </div>
        </div>
    </div>
</div>
<h3>Legjobbak ebben a hónapban</h3>
<div id="legjobbak">
  <div class="card-group">
    <div class="card" ng-repeat="recept in legjobbak">
      <img src="./assets/img/nopic.png" class="card-img-top">
      <span class="elkeszitesi_ido">
        {{ elkeszites(recept.id) }}
      </span>
      <p>
        <i class="bi bi-heart"></i>
        <i class="bi bi-star"></i>
      </p>
      <div class="card-body">        
        <h5 class="card-title">{{ recept.title }}</h5>
        <p>
          <span class="points">{{ recept.points }}</span> pont
        </p>
        <p class="text-muted">{{ ido(recept.id) }}</p>
      </div>
    </div>
</div>
</div>

<!--<a href="#!/reg">Regisztrálás</a>
<a href="#!/login">Bejelentkezés</a> -->