<div class="form-group">
  <div class="input-group">
      <input type="text" name="search" class="form-control" id="keresesbar" placeholder="🔎 Mit szeretnél enni?">
      <span><button type="submit" class="keresesgomb"></i>Keresés</button></span>
   </div>
</div>

<ul class="cards">
  <li ng-repeat="recept in receptek">
    <a href="" class="card">
      <img src="./assets/img/nopic.png" class="card__image" alt="Kép a receptről"/>
      <div class="card__overlay">
        <div class="card__header">
          <img class="card__thumb" src="./assets/img/nopic.png" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">{{ recept.title }}</h3>            
            <span class="card__status">{{ elkeszites(recept.id) }}</span>
          </div>
        </div>
        <div class="icons">
          <i class="bi bi-heart heart"></i>
          <i class="bi bi-star star"></i>
        </div>
        <p class="card__description">{{ recept.short_desc }}</p>
      </div>
    </a>      
  </li>
</ul>
