<div class="form-group">
  <div class="container"> 
    <div class="input-group">
      <input type="search" class="form-control rounded" id="searchbar" placeholder="🔎 Mit szeretnél enni?" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary" id="searchbutton">Keresés</button>
    </div>
  </div>
<h3>Legfrissebb</h3>
<div id="legfrissebb">
  <div class="row">
    <div class="card" ng-repeat="recept in receptek | orderBy:'datum':true">
      <img src="./assets/img/nopic.png" class="card-img-top">
      <div class="card-body">        
          <p class="elkeszitesi_ido">{{ elkeszites(recept.id) }}</p>
          <p>
            <i class="bi bi-heart"></i>
            <i class="bi bi-star"></i>
          </p>
          <h5 class="card-title">{{ recept.title }}</h5>
          <p><span class="points">{{ recept.points }}</span> pont</p>
          <p class="text-muted">{{ ido(recept.id) }}</p>
      </div>
    </div>
  </div>  
</div>

<h3>Legjobbak ebben a hónapban</h3>
<div id="legjobbak">
  <div class="row">
    <div class="card" ng-repeat="recept in receptek | orderBy:'points':true">
      <img src="./assets/img/nopic.png" class="card-img-top">
      <div class="card-body">        
      <p class="elkeszitesi_ido">{{ elkeszites(recept.id) }}</p>
      <p>
        <i class="bi bi-heart"></i>
        <i class="bi bi-star"></i>
      </p>
        <h5 class="card-title">{{ recept.title }}</h5>
        <p class="points">{{ recept.points }} pont</p>
        <p class="text-muted">{{ ido(recept.id) }}</p>
      </div>
    </div>
</div>
</div>