<div class="row">
    <div class="col-lg-3 profilStat">
        <div>
            <img src="../assets/img/nopic.png" alt="Profilkép" width="40%">
        </div>
        <h3>{{ user.display_name }}</h3>
        <p class="text-muted">{{ user.username }}</p>
        <a class="btn btn-primary" ng-if="loggedUser">Követés</a>

        <table>
            <thead>
                <tr>
                    <td colspan="2" class="text-center">Statisztikák</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regisztrált:</td>
                    <td>{{ user.reg }}</td>
                </tr>
                <tr>
                    <td>Utolsó bejelentkezés:</td>
                    <td>{{ user.last }}</td>
                </tr>
                <tr>
                    <td>Megosztott receptek:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kommentek:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pontok:</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9 profilReceptek">
        <ul class="cards">
            <li ng-repeat="recept in userRecipes">
              <div class="card" data-aos="fade-up" data-aos-anchor-placement="bottom-center">
                <img src="./assets/img/nopic.png" class="card__image" alt="Kép a receptről"/>
                <div class="card__overlay">
                  <div class="card__header parent" ng-click="">
                    <div class="div1_1">
                      <img class="card__thumb" src="./assets/img/nopic.png" alt="" />
                    </div>
                    <div class="div2_1">
                      <h3 class="card__title">{{ recept.title }}</h3>
                      <span class="card__status text-muted">Elkészítés: {{ elkeszites(recept.id) }}</span>
                    </div>
                  </div>
                  <div class="card__description">
                    <div class="icons">
                      <i class="bi bi-heart heart" title="Kedvelés"> {{ recept.points }}</i>
                      <i class="bi bi-star star" title="Kedvencek közé"></i>
                    </div>
                    <p class="text-muted">{{ ido(recept.id) }}</p>
                    <p>{{ recept.short_desc }}</p>
                  </div>
                </div>
              </div>      
            </li>
          </ul>
          
    </div>
</div>