<div class="background-blur">
    <h1 class="text-center fw-bold small-caps">{{ recept.title }}</h1>
    <h3 class="text-center fw-bold small-caps"> 
        Feltöltő: <a ng-click="showProfile(recept.user_id)">{{ feltolto.username }}</a>
    </h3>
    <p class="text-center fw-bold small-caps">Elkészítési idő: {{elkeszites()}}</p>
    <p class="text-center fw-bold small-caps">Pontok: {{recept.points}}</p>
    
    <h3 class="fw-bold small-caps">Hozzávalók:</h3>
    <table class="table table-borderless ingredientsTable">
        <thead>
            <tr class="col-lg-3">
                <td>Hozzávaló</td>
                <td>Mennyiség</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hozzavalo in hozzavalok">
                <td class="col-lg-2">{{hozzavalo.hozzavalo}}</td>
                <td class="col-lg-10">{{hozzavalo.mennyiseg}}</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
    
    <div class="recept-desc">
        <h3 class="fw-bold small-caps">Elkészítés</h3>
        <div>
            <ol>
                <li ng-repeat="bekezdes in bekezdesek">
                    {{bekezdes.item}}
                </li>
            </ol>
        </div>
    </div>

    <hr>
    <h2 class="small-caps fw-bold text-center">Kommentek</h2>

    <div class="newComment">
        <textarea name="comment" ng-model="newComment"></textarea>
        <button class="btn btn-primary" ng-click="addComment()">Komment</button>
    </div>

    <div class="comments">
        <div class="comment" ng-repeat="comment in comments">
            <div class="commentHeader">
                <p>{{comment.poster.username}}</p> - <p>{{comment.date}}</p>
            </div>
            <div class="commentBody">
                {{comment.comment}}
            </div>
        </div>
    </div>
</div>
