<div class="background-blur">
    <h1 class="text-center fw-bold small-caps">{{ recept.title }}</h1>
    
    <p class="text-center fw-bold small-caps">Elkészítési idő: {{elkeszites()}}</p>
    <p class="text-center fw-bold small-caps">Pontok: {{recept.points}}</p>
    
    <h3 class="fw-bold small-caps">Hozzávalók:</h3>
    <table class="table table-borderless ingredientsTable">
        <thead>
            <tr class="col-lg-3">
                <td>Mennyiség</td>
                <td>Hozzávaló</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hozzavalo in hozzavalok">
                <td class="col-lg-2">{{hozzavalo.mennyiseg}}</td>
                <td class="col-lg-10">{{hozzavalo.hozzavalo}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Összesen: {{hozzavalok.length}} hozzávaló</td>
            </tr>
        </tfoot>
    </table>
    
    <div class="recept-desc">
        <h3 class="fw-bold small-caps">Elkészítés</h3>
        <div>
            <ol>
                <li ng-repeat="bekezdes in bekezdesek">
                    {{bekezdes.item}}
                </li>
            </ol>
        </div>
    </div>
</div>
