<!DOCTYPE html ng-app="recepturaApp">
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <!--CSS-->
        <link rel="stylesheet" href="/web/public/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/web/public/assets/css/style.css">
    </head>
    <body>
        <div class="container-fluid" ng-controller="mainCtrl">
            <header>
                <nav class="navbar bg-light">
                    <div class="left">
                        <a href="#">{{title}}</a>
                    </div>
                    <div class="right">
                        <a href="#">Regisztrálás</a>
                        <a href="#">Bejelentkezés</a>
                    </div>
                </nav>
            </header>
            {{author}}
        </div>

        <!--Scripts-->
        <script src="/web/public/assets/js/angular.min.js"></script>
        <script src="/web/public/assets/js/bootstrap.min.js"></script>
        <script src="/web/public/assets/js/script.js"></script>
    </body>
</html>