<div class="row">
    <div class="col-lg-3 profilStat">
        <div>
            <img src="../assets/img/nopic.png" alt="Profilkép" width="40%">
        </div>
        <h3>{{ loggedUser.username }}</h3>
        <p class="text-muted">{{loggedUser.display_name}}</p>
        <a class="btn btn-primary">Követés</a>

        <h3>Statisztikák</h3>
        <table>
            <thead>
                <tr>
                    <td colspan="2">Statisztikák</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regisztrált:</td>
                    <td>{{loggedUser.reg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-9 profilReceptek">

    </div>
</div>