<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Toplista</title>
        <link rel="stylesheet" href="/web/public/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/web/public/assets/css/style.css">
    </head>
    <body class="toplistaBg">
        <div class="container">
            <header></header>
            <main>
                <div class="container text-center">
                    <div class="row" name="topThree">
                      <div class="card col-10">
                        <div class="first-place">Second Place</div>
                      </div>
                      <div class="card col-5">
                        <div class="second-place">First Place</div>
                      </div>
                      <div class="card col">
                        <div class="third-place">Third Place</div>
                      </div>
                    </div>
                  </div>
                  <div class="container text-center">
                    <div class="row" name="remaining">
                      <div class="card col">
                        <div>Fourth Place</div>
                      </div>
                    </div>
                    <div class="row" name="remaining">
                        <div class="card col">
                          <div>Fifth Place</div>
                        </div>
                      </div>
                      <div class="row" name="remaining">
                        <div class="card col">
                          <div>Sixth Place</div>
                        </div>
                      </div>
                      <div class="row" name="remaining">
                        <div class="card col">
                          <div>Seventh Place</div>
                        </div>
                      </div>
                      <div class="row" name="remaining">
                        <div class="card col">
                          <div>Eigtht Place</div>
                        </div>
                      </div>
                      <div class="row" name="remaining">
                        <div class="card col">
                          <div>Nineth Place</div>
                        </div>
                      </div>
                  </div>
            </main>
            <footer></footer>
        </div>

        <script src="/web/public/assets/js/angular.min.js"></script>
        <script src="/web/public/assets/js/angular-route.min.js"></script>
        <script src="/web/public/assets/js/bootstrap.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
        <script src="/web/public/assets/js/script.js"></script>
        <script src="/web/public/assets/js/dbFactory.js"></script>

        <script src="/web/public/controllers/userCtrl.js"></script>
    </body>
</html>
